.depart_container{
    display: flex;
    width: 100%;
    gap:20px;
    position: relative;
}




.hepato{
 flex:1;
 padding-top: 250px;
 position:absolute;
 left: 7%;
 

}
.oncology{
    flex:1;
    padding-top: 250px;
    position:absolute;
    left: 37%;
   
    
}
.ent{
    flex:1;
    padding-top: 250px;
    position:absolute;
    left: 67%;
   
    
}